html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.603);
}
.content{
    background-color: rgb(0, 0, 0);
    background-image: url(../../img/fondonegro.jpeg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
}
.home{
    display: flex;
    justify-content: center;
}
.loading{
    align-content: center;
    justify-content: center;
    padding: 13.5px; 
    background-attachment: fixed;
    background-position: center center;
    width: 83vw;
}
.games{
    display: flex;
    flex-wrap: wrap; 
    background-color: rgba(0, 0, 0, 0.603);
    justify-content: center ;
    padding: 5px; 
    background-attachment: fixed;
    background-position: center center;
    width: 85%;
    padding-top: 20px;
} 
.games::content{
    content:''; 
    position: absolute;
    top:0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.616);
    background-position: center center;
    margin-top: 10px;
}
.cardHome{
    padding: 2px; 
    margin:5px;    
    width: 410px;
    height: 360px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0); 
}
.cardHome button{
    width: fit-content;
    height: 40px;
    width: 390px;
    cursor: pointer;
    border-style: none;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font-size: 17px;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.411);
    transition: all .5s ease-in-out;
}
.cardHome button:hover{
    background-color: rgb(72, 0, 240);
    color:rgb(0, 0, 0);
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}
